.about
    .container
        .row
            .col
                .section_title_container.text-center
                    h2.section_title Welcome To Unicat E-Learning
                    .section_subtitle
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel gravida arcu Vestibulum
        .row.about_row
            // About Item
            .col-lg-4.about_col.about_col_left
                .about_item
                    .about_item_image
                        img(src='/images/about_1.jpg', alt='')
                    .about_item_title
                        a(href='#') Our Stories
                    .about_item_text
                        p
                            | Lorem ipsum dolor sit , consectet adipisi elit, sed do eiusmod tempor for enim en consectet adipisi elit, sed do consectet adipisi elit, sed doadesg.
            // About Item
            .col-lg-4.about_col.about_col_middle
                .about_item
                    .about_item_image
                        img(src='/images/about_2.jpg', alt='')
                    .about_item_title
                        a(href='#') Our Mission
                    .about_item_text
                        p
                            | Lorem ipsum dolor sit , consectet adipisi elit, sed do eiusmod tempor for enim en consectet adipisi elit, sed do consectet adipisi elit, sed doadesg.
            // About Item
            .col-lg-4.about_col.about_col_right
                .about_item
                    .about_item_image
                        img(src='/images/about_3.jpg', alt='')
                    .about_item_title
                        a(href='#') Our Vision
                    .about_item_text
                        p
                            | Lorem ipsum dolor sit , consectet adipisi elit, sed do eiusmod tempor for enim en consectet adipisi elit, sed do consectet adipisi elit, sed doadesg.
