.partners
    .container
        .row
            .col
                .partners_slider_container
                    .owl-carousel.owl-theme.partners_slider
                        // Partner Item
                        .owl-item.partner_item
                            img(src='/images/partner_1.png', alt='')
                        // Partner Item
                        .owl-item.partner_item
                            img(src='/images/partner_2.png', alt='')
                        // Partner Item
                        .owl-item.partner_item
                            img(src='/images/partner_3.png', alt='')
                        // Partner Item
                        .owl-item.partner_item
                            img(src='/images/partner_4.png', alt='')
                        // Partner Item
                        .owl-item.partner_item
                            img(src='/images/partner_5.png', alt='')
                        // Partner Item
                        .owl-item.partner_item
                            img(src='/images/partner_6.png', alt='')
