.home
  .breadcrumbs_container
    .container
      .row
        .col
          .breadcrumbs
            ul
              li
                a(href='/') Home
              li
                a(href='/courses') Courses
              li Course Details
