.features
    .container
        .row
            .col
                .section_title_container.text-center
                    h2.section_title Welcome To Unicat E-Learning
                    .section_subtitle
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel gravida arcu. Vestibulum feugiat, sapien ultrices fermentum congue, quam velit venenatis sem
        .row.features_row
            // Features Item
            .col-lg-3.feature_col
                .feature.text-center.trans_400
                    .feature_icon
                        img(src='/images/icon_1.png', alt='')
                    h3.feature_title The Experts
                    .feature_text
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit
            // Features Item
            .col-lg-3.feature_col
                .feature.text-center.trans_400
                    .feature_icon
                        img(src='/images/icon_2.png', alt='')
                    h3.feature_title Book & Library
                    .feature_text
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit
            // Features Item
            .col-lg-3.feature_col
                .feature.text-center.trans_400
                    .feature_icon
                        img(src='/images/icon_3.png', alt='')
                    h3.feature_title Best Courses
                    .feature_text
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit
            // Features Item
            .col-lg-3.feature_col
                .feature.text-center.trans_400
                    .feature_icon
                        img(src='/images/icon_4.png', alt='')
                    h3.feature_title Award & Reward
                    .feature_text
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit
