.news
    .container
        .row
            .col
                .section_title_container.text-center
                    h2.section_title Latest News
                    .section_subtitle
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel gravida arcu. Vestibulum feugiat, sapien ultrices fermentum congue, quam velit venenatis sem
        .row.news_row
            .col-lg-7.news_col
                // News Post Large
                .news_post_large_container
                    .news_post_large
                        .news_post_image
                            img(src='images/news_1.jpg', alt='')
                        .news_post_large_title
                            a(href='blog_single.html') Here’s What You Need to Know About Online Testing for the ACT and SAT
                        .news_post_meta
                            ul
                                li
                                    a(href='#') admin
                                li
                                    a(href='#') november 11, 2017
                        .news_post_text
                            p
                                | Policy analysts generally agree on a need for reform, but not on which path policymakers should take. Can America learn anything from other nations...
                        .news_post_link
                            a(href='blog_single.html') read more
            .col-lg-5.news_col
                .news_posts_small
                    // News Posts Small
                    .news_post_small
                        .news_post_small_title
                            a(href='blog_single.html') Home-based business insurance issue (Spring 2017 - 2018)
                        .news_post_meta
                            ul
                                li
                                    a(href='#') admin
                                li
                                    a(href='#') november 11, 2017
                    // News Posts Small
                    .news_post_small
                        .news_post_small_title
                            a(href='blog_single.html') 2018 Fall Issue: Credit Card Comparison Site Survey (Summer 2018)
                        .news_post_meta
                            ul
                                li
                                    a(href='#') admin
                                li
                                    a(href='#') november 11, 2017
                    // News Posts Small
                    .news_post_small
                        .news_post_small_title
                            a(href='blog_single.html') Cuentas de cheques gratuitas una encuesta de Consumer Action
                        .news_post_meta
                            ul
                                li
                                    a(href='#') admin
                                li
                                    a(href='#') november 11, 2017
                    // News Posts Small
                    .news_post_small
                        .news_post_small_title
                            a(href='blog_single.html') Troubled borrowers have fewer repayment or forgiveness options
                        .news_post_meta
                            ul
                                li
                                    a(href='#') admin
                                li
                                    a(href='#') november 11, 2017
