.team
    .team_background.parallax-window(data-parallax='scroll', data-image-src='/images/team_background.jpg', data-speed='0.8')
    .container
        .row
            .col
                .section_title_container.text-center
                    h2.section_title The Best Tutors in Town
                    .section_subtitle
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel gravida arcu. Vestibulum feugiat, sapien ultrices fermentum congue, quam velit venenatis sem
        .row.team_row
            // Team Item
            .col-lg-3.col-md-6.team_col
                .team_item
                    .team_image
                        img(src='/images/team_1.jpg', alt='')
                    .team_body
                        .team_title
                            a(href='#') Jacke Masito
                        .team_subtitle Marketing & Management
                        .social_list
                            ul
                                li
                                    a(href='#')
                                        i.fa.fa-facebook(aria-hidden='true')
                                li
                                    a(href='#')
                                        i.fa.fa-twitter(aria-hidden='true')
                                li
                                    a(href='#')
                                        i.fa.fa-google-plus(aria-hidden='true')
            // Team Item
            .col-lg-3.col-md-6.team_col
                .team_item
                    .team_image
                        img(src='/images/team_2.jpg', alt='')
                    .team_body
                        .team_title
                            a(href='#') William James
                        .team_subtitle Designer & Website
                        .social_list
                            ul
                                li
                                    a(href='#')
                                        i.fa.fa-facebook(aria-hidden='true')
                                li
                                    a(href='#')
                                        i.fa.fa-twitter(aria-hidden='true')
                                li
                                    a(href='#')
                                        i.fa.fa-google-plus(aria-hidden='true')
            // Team Item
            .col-lg-3.col-md-6.team_col
                .team_item
                    .team_image
                        img(src='/images/team_3.jpg', alt='')
                    .team_body
                        .team_title
                            a(href='#') John Tyler
                        .team_subtitle Quantum mechanics
                        .social_list
                            ul
                                li
                                    a(href='#')
                                        i.fa.fa-facebook(aria-hidden='true')
                                li
                                    a(href='#')
                                        i.fa.fa-twitter(aria-hidden='true')
                                li
                                    a(href='#')
                                        i.fa.fa-google-plus(aria-hidden='true')
            // Team Item
            .col-lg-3.col-md-6.team_col
                .team_item
                    .team_image
                        img(src='/images/team_4.jpg', alt='')
                    .team_body
                        .team_title
                            a(href='#') Veronica Vahn
                        .team_subtitle Math & Physics
                        .social_list
                            ul
                                li
                                    a(href='#')
                                        i.fa.fa-facebook(aria-hidden='true')
                                li
                                    a(href='#')
                                        i.fa.fa-twitter(aria-hidden='true')
                                li
                                    a(href='#')
                                        i.fa.fa-google-plus(aria-hidden='true')
