footer.footer
    .footer_background(style='background-image:url(/images/footer_background.png)')
    .container
        .row.footer_row
            .col
                .footer_content
                    .row
                        .col-lg-3.footer_col
                            // Footer About
                            .footer_section.footer_about
                                .footer_logo_container
                                    a(href='#')
                                        .footer_logo_text
                                            | Unic
                                            span at
                                .footer_about_text
                                    p Lorem ipsum dolor sit ametium, consectetur adipiscing elit.
                                .footer_social
                                    ul
                                        li
                                            a(href='#')
                                                i.fa.fa-facebook(aria-hidden='true')
                                        li
                                            a(href='#')
                                                i.fa.fa-google-plus(aria-hidden='true')
                                        li
                                            a(href='#')
                                                i.fa.fa-instagram(aria-hidden='true')
                                        li
                                            a(href='#')
                                                i.fa.fa-twitter(aria-hidden='true')
                        .col-lg-3.footer_col
                            // Footer Contact
                            .footer_section.footer_contact
                                .footer_title Contact Us
                                .footer_contact_info
                                    ul
                                        li Email: Info.deercreative@gmail.com
                                        li Phone:  +(88) 111 555 666
                                        li 40 Baria Sreet 133/2 New York City, United States
                        .col-lg-3.footer_col
                            // Footer links
                            .footer_section.footer_links
                                .footer_title Contact Us
                                .footer_links_container
                                    ul
                                        li
                                            a(href='/') Home
                                        li
                                            a(href='/about') About
                                        li
                                            a(href='/contact') Contact
                                        li
                                            a(href='/courses') Courses
                        .col-lg-3.footer_col.clearfix
                            // Footer links
                            .footer_section.footer_mobile
                                .footer_title Mobile
                                .footer_mobile_content
                                    .footer_image
                                        a(href='#')
                                            img(src='/images/mobile_1.png', alt='')
                                    .footer_image
                                        a(href='#')
                                            img(src='/images/mobile_2.png', alt='')
        .row.copyright_row
            .col
                .copyright.d-flex.flex-lg-row.flex-column.align-items-center.justify-content-start
                    .cr_text
                        // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                        | Copyright ©
                        script.
                          document.write(new Date().getFullYear());
                        |  All rights reserved | This template is made with
                        i.fa.fa-heart-o(aria-hidden='true')
                        |  by
                        a(href='https://colorlib.com', target='_blank') Colorlib
                        // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                    .ml-lg-auto.cr_links
                        ul.cr_list
                            li
                                a(href='#') Copyright notification
                            li
                                a(href='#') Terms of Use
                            li
                                a(href='#') Privacy Policy
