.menu.d-flex.flex-column.align-items-end.justify-content-start.text-right.menu_mm.trans_400
    .menu_close_container
        .menu_close
            div
            div
    .search
        form.header_search_form.menu_mm(action='#')
            input.search_input.menu_mm(type='search', placeholder='Search', required='required')
            button.header_search_button.d-flex.flex-column.align-items-center.justify-content-center.menu_mm
                i.fa.fa-search.menu_mm(aria-hidden='true')
    nav.menu_nav
        ul.menu_mm
            li.menu_mm
                a(href='/') Home
            li.menu_mm
                a(href='/about') About
            li.menu_mm
                a(href='/courses') Courses
            li.menu_mm
                a(href='/contact') Contact
