.reg_modal.d-flex.flex-column.align-items-end.justify-content-start.text-right.reg_mm.trans_400
    .reg_close_container
        .reg_close
            div
            div
    .reg_form
        .row
            .col
                form.reg_form_content.d-flex.flex-column.align-items-center.justify-content-center(name="formLogin")
                    .reg_form_title Register/login
                    input.form_email.counter_input(name='email' type='email', placeholder='Email:', required='required')
                    input.form_pass.counter_input(name='password' type='password', placeholder='Password:', required='required')
                    button.reg_form_button(type='submit') submit now
